@import "src/assets/style/mixins";

.footer {
    background: $bg-white;
    padding: 30px 0 18px;

    @include small {
        padding: 30px 0 40px;
    }

    &__container {
        @include medium {
            padding: 0 24px;
            text-align: right;
        }
        @include small {
            text-align: center;
        }
    }

    &__block {
        display: flex;
        justify-content: space-between;

        @include small {
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
        }
    }

    &__privacy-policy {
        @include Nunito(13px, 13px, 600);
        color: $brown-2;
        text-decoration: underline;

        &:hover {
            opacity: $hover-opacity;
        }
    }
}
