@import "../fonts/nunito/stylesheet.css";
@import "../fonts/roboto/stylesheet.css";
@import "mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto';
  outline: none;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background: $bg-body;
}

body:has(dialog[open]) {
  overflow: hidden;
}

ul {
  list-style: none;
}

.nunito {
  font-family: 'Nunito';
}

.roboto {
  @include Nunito(24px, 32px, 800)
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#map {
  width: 100px; height: 100%; padding: 0; margin: 0;
}

main {
  flex: 1;
}

.container {
  max-width: 1296px;
  margin: auto;

  @include medium {
    width: 768px;

  }
  @include small {
    width: 100%;
  }
}
