@import "src/assets/style/mixins";

.input {
  position: relative;

  &__field {
    padding: 14px 22px;
    border-radius: 40px;
    border: 1px solid $grey-2;
    @include Roboto(14px, 18.2px, 400);
    color: $black-2;

    &::placeholder {
      @include Roboto(14px, 18.2px, 400);
      color: $grey-1;
    }

    &:hover {
      border: 1px solid $brown-1;
    }

    &:focus {
      border: 1px solid $brown-2;
    }

    &:required {
      border: 1px solid $red;
    }
  }

  &__full-width {
    width: 100%;
  }

  &__error {
    border: 1px solid $red;
  }

  &__disabled {
    cursor: not-allowed;
  }

  &__point {
    background: inherit !important;
    border: none !important;
    position: absolute;
    right: 11px;
    top: 15px;
  }
}

