@import "src/assets/style/mixins";

.maps {
  position: relative;
  .ymaps-2-1-79-map-copyrights-promo,
  .ymaps-2-1-79-copyrights-pane {
    display: none;
  }
  &__map, .maps {
    position: relative;
    height: 429px;

    @include medium {
      height: 409px;
    }

    @include small {
      height: 260px;
    }
  }

  &__block {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);

    @include medium {
      padding-left: 24px;
    }

    @include small {
      position: relative;
      padding-left: 0;
      top: 0;
      transform: translateY(0);
    }
  }

  &__buttons {
    position: absolute;
    z-index: 2;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);

    @include small {
      right: 19px;
    }
  }

  &__button {
    width: 36px;
    height: 36px;

    &:first-child {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }

    &:last-child {
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }
}
