@import "src/assets/style/mixins";

.wrapper {
    min-height: 100vh;
    min-width: 100%;
    background: $transparent;

    @include small {
        background: $bg-white;
    }

    &__header {
        display: flex;
        align-items: center;
        padding: 10px 20px 30px;

        &_between {
            justify-content: space-between;
        }

        &_end {
            justify-content: end;
        }
    }

    &:has(.sidebar__show) .wrapper__header {
        background: $bg-grey-light;
    }

    &__close {
        display: none;

        @include small {
            display: block;
        }
    }
}
