@import "src/assets/style/mixins";

.header {
    padding: 14px 0;
    width: 100%;

    @include medium {
        padding: 12px 24px;
    }

    @include small {
        padding: 14px 20px;
    }

    &__desktop {
        display: flex;
        justify-content: space-between;

        @include small {
            display: none;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__phone {
        @include Roboto(16px, 20.8px, 500);
        color: $black-2;
        text-decoration: none;
    }

    &__button {
        @include medium {
            display: none;
        }
    }

    &__icon-phone {
        display: none !important;

        @include medium {
            display: flex !important;
        }
    }

    // mobile version

    &__mobile {
        display: none;
        align-items: center;
        justify-content: space-between;
        flex: 1;

        @include small {
            display: flex;
        }
    }
}
