@import "src/assets/style/mixins";

.menu {
  position: relative;

  // main menu

  &__main {
    display: flex;
    gap: 30px;

    @include medium {
      gap: 20px;
    }

    &_item {
      padding-bottom: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {

        .menu__dropdown {
          display: block;
        }

        .menu__main_link {
          color: $brown-1;
        }

        .menu__main_triangle {
          border-top: 4px solid $brown-1;
        }
      }
    }

    &_link {
      color: $black-2;
      cursor: pointer;
    }

    &_triangle {
      margin-left: 6px;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-radius: 4px;
      border-top: 4px solid $black-2;
    }
  }

  // dropdown menu

  &__dropdown {
    display: none;
    position: absolute;
    background: $bg-white;
    padding: 6px 0;
    top: 48px;
    border-radius: 10px;
    box-shadow: $shadow;
    z-index: 2;

    &:has(.menu__dropdown_item:hover) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &_item {
      &:last-child {
        .menu__dropdown_wrapper {
          border-bottom: none;
        }
      }

      &:hover {
        .menu__extra {
          display: block;
        }

        .menu__dropdown_triangle {
          border-left: 4px solid $brown-1;
        }

        .menu__dropdown_link {
          color: $brown-1;
        }
      }
    }

    &_wrapper {
      padding: 16px 0;
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 220px;
      border-bottom: 1px solid $grey-3
    }

    &_link {
      color: $black-2;
      cursor: pointer;
    }

    &_triangle {
      width: 0;
      height: 0;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 4px solid $black-2;
      border-radius: 4px;
    }
  }

  // extra menu

  &__extra {
    display: none;
    position: absolute;
    background: $bg-white-light;
    left: 260px;
    padding: 6px 20px;
    top: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 1px solid $grey-3;

    &_item {
      width: 220px;
      padding: 16px 0;
      border-bottom: 1px solid $grey-3;
    }

    &_item:last-child {
      border-bottom: none;
    }

    &_item:hover {
      .menu__extra_link {
        color: $brown-1;
      }
    }

    &_link {
      color: $black-2;
      cursor: pointer;
    }
  }
}






