@import "src/assets/style/mixins";

.footer-mobile-menu {
  width: 50%;

  @include small {
    width: 100%;
    margin-bottom: 34px;
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  &__wrap, &__wrap_open {
    display: flex;
    justify-content: space-between;

    &:hover {
      opacity: $hover-opacity;
    }
  }

  &__wrap_open {
    .footer-mobile-menu__link {
      color: $brown-1;
    }
    .footer-mobile-menu__triangle {
      rotate: 270deg !important;
    }
  }

  &__item {
    padding: 12px 20px;
    border-bottom: 1px solid $grey-3;
  }

  &__link {
    @include Roboto(14px, 18.2px, 500);
    color: $black-2;
  }

  &__subitem {
    display: block;
    @include Roboto(14px, 18.2px, 400);
    color: $black-2;
    padding: 16px 10px 0;

    &:last-child {
      margin-bottom: 8px;
    }

    &:hover {
      opacity: $hover-opacity;
    }

    &_hidden {
      display: none;
    }
  }
}
