@import "src/assets/style/mixins";

.sidebar {
  border-top: 1px solid $grey-3;

  &:has(.sidebar__show) {
    border-top: none;
  }

  &__item {
    border-bottom: 1px solid $grey-3;
    cursor: pointer;
    background: $bg-white;

    &:hover {
      background: $grey-3;
    }

    &:has(.sidebar__link_open) {
      background: none;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__triangle {
    margin-right: 20px;
    &_open {
      background: $bg-brown !important;
    }
  }

  &__link {
    @include Roboto(14px, 18.2px, 500);
    color: $black-2;
    margin: 12px 20px;

    &_open {
      color: $brown-1;
    }
  }

  &__show {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 28px 12px;
    background: $bg-grey-light;
  }

  &__hide {
    display: none;
  }

  &__subitem {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      opacity: $hover-opacity;
    }
  }

  &__sublink {
    color: $black-2;
    @include Roboto(14px, 18.2px, 400);

    &_main {
      @include Roboto(14px, 18.2px, 500);
    }
  }
}
