$black-1: #404040;
$black-2: #5E5E5E;

$brown-1: #B19280;
$brown-2: #937462;

$grey-1: #999999;
$grey-2: #BDBDBD99;
$grey-3: #E9E9E9;

$red: #E26D6D99;

$white-1: #FDFDFD;
$white-2: #FFF;

$bg-grey: #EBEAE8;
$bg-grey-light: rgb(249, 249, 249);
$bg-white: #FFFFFF;
$bg-white-light: #FBFBFB;
$bg-brown: #B19280;
$bg-hover: #FDFDFD;

$hover-opacity: 60%;
$bg-body: linear-gradient(to right, #f9f9f9 0%, #f9f9f9 100%);
$transparent: rgba(220, 203, 192, 0.2);
$shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.03);
