@mixin Roboto($size, $line-height, $font-weight) {
  @include sizes($size, $line-height, $font-weight)
}

@mixin Nunito($size, $line-height, $font-weight) {
  font-family: 'Nunito';
  @include sizes($size, $line-height, $font-weight)
}

@mixin sizes($size, $line-height, $font-weight) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $font-weight;
}
