@import "src/assets/style/mixins";

.block {
    padding: 22px 24px;
    background: $bg-white;
    box-shadow: $shadow;
    border-radius: 4px;
    text-align: left;
    user-select: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include medium {
        flex-basis: calc(50% - 12px);
        border-radius: 10px;
        flex-direction: row;
    }

    @include small {
        flex-basis: 100%;
        gap: 16px;
    }

    &__img {
        width: 38px;
        height: 38px;
    }

    &__title {
        @include Nunito(16px, 19.2px, 700);
        color: $black-1;
        margin-bottom: 10px;
    }

    &__description {
        @include Roboto(14px, 18.2px, 400);
        color: $black-2;
    }
}
