@import "src/assets/style/mixins";

.block-contact {
  padding: 36px 24px;
  background: $bg-white;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  gap: 18px;
  box-shadow: $shadow;

  @include small {
    width: 100%;
    border-radius: 0;
  }

  &__title {
    @include Nunito(26px, 31.2px, 700);
    color: $black-1;
    margin-bottom: 10px;
  }

  &__content {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__icon {
    width: 18px;
    height: 18px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $transparent;
  }

  &__text {
    @include Roboto(14px, 18.2px, 400);
    color: $black-2;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      opacity: 80%;
    }
  }

  &__call-back {
    margin-top: 8px;
  }
}
