@import "src/assets/style/mixins";

.carousel {
  padding: 0;

  @include medium {
    padding: 0 24px;
  }

  @include small {
    padding: 0 20px;
  }

  &__wrapper {
    height: 480px;
    background: $bg-grey;
    border-radius: 30px;
    margin-bottom: 72px;
    user-select: none;
    position: relative;

    @include medium {
      height: 444px;
      margin-bottom: 54px;
    }

    @include small {
      height: 450px;
      padding: 0 20px;
      margin-bottom: 40px;
    }
  }

  &__container {
    height: 100%;
    justify-content: space-between;
    display: flex;

    @include medium {
      flex-direction: column;
    }

    @include small {
      flex-direction: column;
    }
  }

  &__content {
    color: $black-2;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 70px 0 0 80px;
    z-index: 1;

    @include medium {
      padding: 40px 52px 0;
    }

    @include small {
      padding: 60px 18px 0;

      @media (max-width: 419px) {
        padding: 30px 8px 0;
      }
    }
  }

  &__title {
    @include Nunito(40px, 48px, 700);
    color: $black-1;
    max-width: 454px;

    @include small {
      @include Nunito(30px, 36px, 700);
      max-width: 354px;
    }

    @media (max-width: 419px) {
      @include Nunito(25px, 24px, 700);
    }
  }

  &__description {
    @include Roboto(18px, 25.2px, 400);
    max-width: 354px;

    @include small {
      @include Roboto(16px, 22.4px, 400);
    }

    @media (max-width: 419px) {
      @include Nunito(14px, 20px, 400);
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (max-width: 419px) {
      gap: 8px;
    }
  }

  &__item {
    @include Roboto(14px, 18.2px, 400);
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 14px;

    &:before {
      content: "";
      position: absolute;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: $bg-brown;
      left: 0;
    }
  }

  &__background {
    background-repeat: no-repeat;
    height: 100%;
    width: 746px;
    transition: 1s;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    right: 0;

    @include medium {
      border-top-right-radius: 0;
      width: 372px;
      height: 239px;
      bottom: 0;
      background-size: cover;
    }

    @include small {
      width: 100%;
      height: 210px;
      border-top-right-radius: 0;
      border-bottom-left-radius: 30px;
      background-size: cover;
      bottom: 0;
      left: 0;
      background-position: bottom;
    }

    &_slide-1 {
      background-image: url("../../../assets/images/slide-1.png");

      @include small {
        background-image: url("../../../assets/images/slide-1-small.png");
      }
    }
    &_slide-2 {
      background-image: url("../../../assets/images/slide-2.png");

      @include small {
        background-image: url("../../../assets/images/slide-2-small.png");
      }
    }
  }

  &__radio {
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
  }
}
