@import "src/assets/style/mixins";

.button {
  cursor: pointer;
  border-radius: 100px;
  border: 1px solid $bg-brown;
  @include Nunito(13px, 13px, 600);
  user-select: none;

  &:disabled {
    cursor: not-allowed;
  }

  &__full-width {
    width: 100%;
    text-align: center;
  }

  &__default {
    color: $white-1;
    background: $bg-brown;
    padding: 16px 36px;
    @include Nunito(14px, 14px, 700);
    letter-spacing: 0.01em;

    &:not(:disabled):hover {
      color: $brown-1;
      background: $bg-hover;
    }
  }

  &__ghost {
    padding: 2px 0;
    border: none;
    background: inherit;
    color: $brown-1;

    &:not(:disabled):hover {
      opacity: $hover-opacity;
    }
  }

  &__small {
    padding: 10px 20px;
    color: $brown-2;
    background: $bg-white;

    &:not(:disabled):hover {
      color: $white-1;
      background: $bg-brown;
    }
  }
}
