@import "src/assets/style/mixins";

.footer-desktop-menu {
  margin-bottom: 16px;

  &__column {
    display: flex;
    gap: 32px;
  }

  &__link {
    @include Roboto(14px, 18.2px, 500);
    color: $black-2;

    &:hover {
      opacity: $hover-opacity;
    }
  }

  &__submenu {
    margin-top: 12px;
  }

  &__sublink {
    @include Roboto(14px, 18.2px, 400);
    color: $black-2;

    &:hover {
      opacity: $hover-opacity;
    }
  }

  @include medium {
    display: none;
  }

  @include small {
    display: none;
  }
}
