@import "src/assets/style/mixins";

.social-networks {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 142px;
  align-items: end;

  @include small {
    align-items: center;
  }

  &__link {
    @include Roboto(16px, 20.8px, 500);
    color: $brown-1;
    text-decoration: none;

    &:hover {
      opacity: 0.6;
    }
  }

  &__items {
    display: flex;
    gap: 12px;
  }

  &__item:hover {
    opacity: 0.6;
  }
}
