@import "src/assets/style/mixins";

.modal {
  height: calc(100vh - 65px);
  display: flex;
  justify-content: center;
  align-items: center;

  @include small {
    align-items: start;
    height: 100%;
  }

  &__block {
    width: 330px;
    background: $bg-white;
    border-radius: 10px;

    @include small {
      width: 270px;
    }
  }

  &__header {
    display: flex;
    justify-content: end;
    padding: 12px;

    @include small {
      display: none;
    }
  }

  &__content {
    padding: 0 40px 48px;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include small {
      padding: 0;
    }
  }

  &__title {
    @include Nunito(20px, 24px, 700);
    text-align: center;
    color: $black-1;
  }

  &__description {
    @include Roboto(14px, 18.2px, 400);
    text-align: center;
    color: $black-2;
    margin: 16px 0;
  }

  &__info {
    @include Roboto(13px, 16.9px, 400);
    text-align: center;
    color: $black-2;
    margin-top: 10px;
    width: 240px;
  }

  &__warning {
    color: $brown-2;
    cursor: pointer;
  }

  &__status {
    width: 244px;
    background: $bg-white;
    border-radius: 10px;
    padding: 24px 18px;
    text-align: center;
  }

  &__text {
    @include Nunito(16px, 19.2px, 700);
    color: $black-1;
    text-align: center;
    margin-top: 8px;
  }
}
