@import "src/assets/style/mixins";

.radio {
  display: flex;
  gap: 4px;

  &__label {
    position: relative;
    user-select: none;
    width: 16px;
    height: 16px;
  }

  &__input {
    position: absolute;
    width: 0;
    height: 0;

    &:checked ~ .radio__checkmark {
      border: 1px solid $white-2;
      background-color: inherit;

      &:after {
        left: 3px;
        top: 3px;
      }
    }
  }


  &__checkmark {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      left: 4px;
      top: 4px;
      width: 8px;
      height: 8px;
      background: $white-2;
      border-radius: 50%;
    }

    &_disabled {
      opacity: $hover-opacity;
      cursor: not-allowed;
    }
  }
}
