@import "src/assets/style/mixins";

.benefit-of-work {
  display: flex;
  flex-direction: column;
  padding: 0 0 64px;

  @include medium {
    align-items: center;
    padding: 0 24px 64px;
  }

  @include small {
    padding: 0 20px 48px;
  }

  &__title {
    @include Nunito(30px, 36px, 700);
    color: $black-1;
    margin-bottom: 40px;

    @include medium {
      margin-bottom: 28px;
      text-align: center !important;
    }

    @include small {
      @include Nunito(26px, 31.2px, 700);
      width: 200px;
    }
  }

  &__content {
    display: flex;
    gap: 24px;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;

    @include small {
      gap: 16px;
    }
  }
}
