@import "src/assets/style/mixins";

.icon {
  border: 1px solid transparent;
  background: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &__square {
    width: 44px;
    height: 44px;
  }

  &__circle {
    border: 1px solid $bg-brown;
    background: inherit;
    width: 33px;
    height: 33px;
    border-radius: 50%;
  }

  &:not(:disabled):hover {
    opacity: $hover-opacity;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
